body{
	margin: 0;
	padding: 0	
}
.box{
	position: absolute;
	top:  50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: transparent;/*background: grey;*/
	height: 600px;
	width: 400px;
	overflow: hidden;
	text-align: center;
}
.box:before{
	content: '';
	top:0;
	right: 0;
	position: absolute;
	height: 100%;
	width:  100%;
	background: red;
	transform-origin: bottom left;
	transform: rotate(45deg); /* 10 is rectangle */
}
